<p>
<strong>Title:</strong>
<%= @route.title %>
</p>

<p>
<strong>Stations:</strong>
<% if @route.railway_stations.empty? %>
  empty list
<% else %>
  <table>
    <thead>
      <tr>
        <th width="150px" align="left">Name</th>
        <th>Position</th>
        <th>Arrival / Departure</th>
      </tr>
    </thead>
    <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
        <tr>
          <td align="left"><%= station.title %></td>
          <td>
            <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
              <%= number_field_tag :position, station.position_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag "Change" %>
            <% end %>
          </td>
          <td>
            <%= form_tag update_time_admin_railway_station_path(station), method: :patch do %>
              <%= time_field_tag :arrival, station.arrival_time(@route) %>
              <%= time_field_tag :departure, station.departure_time(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag "Change" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</p>

<%= link_to 'Edit', edit_admin_route_path(@route) %> |
<%= link_to 'Back', admin_routes_path %>
