<p id="notice"><%= notice %></p>

<p>
  <strong>Number: </strong>
  <%= @train.number %>
</p>

<p>
  <strong>Current station: </strong>
  <% if @train.current_station.present? %>
    <%= link_to "#{@train.current_station.title}", railway_station_path(@train.current_station) %>
  <% else %>
    no information
  <% end %>
</p>

<p>
  <strong>Route: </strong>
  <% if @train.route.present? %>
    <%= link_to "#{@train.route.title}", route_path(@train.route) %>
  <% else %>
    no information
  <% end %>
</p>

<p>
<strong>Passenger cars: </strong>
<ul>
  <% @train.passenger_cars.each do |car| %>
    <li>
      <%= link_to "#{car.number}", passenger_car_path(car) %>
    </li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
