<p id="notice"><%= notice %></p>

<p>
  <strong>Number: </strong>
  <%= @train.number %>
</p>

<p>
  <strong>Current station: </strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    no information
  <% end %>
</p>

<p>
  <strong>Route: </strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    no information
  <% end %>
</p>

<p>
<strong>Set of cars: </strong>
<ul>
  <% PassengerCar::CARS_TYPE.each do |type| %>
    <% cars_group = @train.passenger_cars.where(kind: type) %>
    <li><%= "#{type}: #{cars_group.count}" %></li>
  <% end %>
</ul>
</p>

<p>
<strong>Set of seats: </strong>
<ul>
  <% PassengerCar::CARS_TYPE.each do |type| %>
    <% query = 'SUM(upper_seats) AS upper, SUM(lower_seats) AS lower' %>
    <% count = @train.passenger_cars.select(query).where(kind: type) %>
    <li><%= "#{type} upper/lower: #{count.map(&:upper).first}/#{count.map(&:lower).first}" %></li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
