<p id="notice"><%= notice %></p>

<p>
  <strong>Number: </strong>
  <%= @train.number %>
</p>

<p>
  <strong>Current station: </strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    no information
  <% end %>
</p>

<p>
  <strong>Route: </strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    no information
  <% end %>
</p>

<p>
<strong>Set of seats: </strong>
<ul>
  <% PassengerCar.list_of_types.each do |type| %>
    <% upper_count = @train.passenger_cars.where(kind: type).upper_count %>
    <% lower_count = @train.passenger_cars.where(kind: type).lower_count %>
    <li><%= "#{type} upper/lower: #{upper_count}/#{lower_count}" %></li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
