<tr>
  <td><%= passenger_car.number %></td>
  <td><%= passenger_car.train.number %></td>
  <td><%= PassengerCar.list_of_types[passenger_car.type] %></td>
  <td><%= passenger_car.upper_seats + passenger_car.lower_seats %></td>
  
  <td><%= link_to 'Show', [:admin, passenger_car] %></td>
  <td><%= link_to 'Edit', edit_admin_passenger_car_path(passenger_car) %></td>
  <td><%= link_to 'Destroy', [:admin, passenger_car], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
