<%= form_for(@passenger_car) do |f| %>
  <%= render 'common/errors', resource: @passenger_car %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>
  
  <div class="field">
    <%= f.label :kind %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= f.label :kind %>
    <%= f.collection_select :kind, PassengerCar::CARS_TYPE, :to_s, :to_s, include_blank: true  %>
  </div>

  <div class="field">
    <%= f.label :seats %>
    <%= f.text_field :seats %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
