<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @passenger_car.number %>
</p>

<p>
  <strong>Train:</strong>
  <%= @passenger_car.train.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= PassengerCar.list_of_types[@passenger_car.type] %>
</p>

<p>
  <strong>Seats:</strong>
  <%= render partial: 'seats', locals: { car: @passenger_car } %>
</p>

<%= link_to 'Edit', edit_passenger_car_path(@passenger_car) %> |
<%= link_to 'List of cars', passenger_cars_path %>
