<tr>
  <td><%= link_to "#{ticket.number}", ticket %></td>
  <td><%= Train.find(ticket.train_id).number %></td>
  <td><%= ticket.station_name(ticket.begin_station_id) %></td>
  <td><%= ticket.station_name(ticket.end_station_id) %></td>
  <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
