<h2>Admin Tools</h2>

<ul>
  <li><%= link_to "Passengers cars", admin_passenger_cars_path %>
  <li><%= link_to "Railway stations", admin_railway_stations_path %>
  <li><%= link_to "Routes", admin_routes_path %>
  <li><%= link_to "Trains", admin_trains_path %>
  <li><%= link_to "Tickets", tickets_path %>
</ul>
