<!DOCTYPE html>
<html>
  <head>
    <title>Railway Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice" class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <p><%= "Hello, #{current_user.name}! (#{current_user.email})" %></p>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>

    <%= yield %>

    <footer style="bottom:0;position:absolute">
      <p>(c) 2016 Dima Rogov. Learning project at <a href="http://www.thinknetica.com/">online-school Thinknetica.com</a></p>
    </footer>
    <a href="https://github.com/e-mc2/thinknetica-rails"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
  </body>
</html>
